# Dependencies
node_modules/

# Build output
dist/

# Test artifacts
screenshots/
logs/
allure-results/
allure-report/
playwright-report/
playwright-artifacts/
audio-mocks/*.wav

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
